/* Police personnalisée */
@font-face {
    font-family: "Nougat";
    src: url("/font/Nougat-ExtraBlack.ttf") format("truetype");
}

/* Style de la page */
body {
    background-color: #1a1a1a;
    font-family: "Nougat", Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #222;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ffcc00;
}

header h1 {
    color: #ffcc00;
    margin: 0;
}

.header-logo {
    width: 50px;
    vertical-align: middle;
}

/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Section des personnages */
.character-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* Carte de personnage */
.character-card {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 0; /* Enlève le padding autour de la carte pour permettre à l'image de prendre toute la place */
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Lorsque l'on survole la carte */
.character-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

/* Image du personnage */
.character-image {
    width: 100%; /* Prend toute la largeur de la carte */
    height: 120px; /* Hauteur fixe pour l'image en haut de la carte */
    overflow: hidden; /* Cache tout ce qui dépasse */
    margin-bottom: 10px; /* Espace entre l'image et le texte */
}

.character-image img {
    width: 100%; /* Prend toute la largeur de l'élément parent (le conteneur de l'image) */
    height: 100%; /* Remplie toute la hauteur de la section image */
    object-fit: cover; /* Recadre l’image pour qu'elle remplisse l’espace sans déformation */
    border-radius: 8px 8px 0 0; /* Arrondir uniquement le haut de l’image */
}

/* Titres et textes des cartes */
.character-card h3 {
    color: #ffcc00;
    margin: 10px 0 5px;
}

.character-card p {
    margin: 5px 0;
    font-size: 0.9em;
}

/* Footer */
footer {
    background-color: #222;
    padding: 15px;
    text-align: center;
    border-top: 2px solid #ffcc00;
    color: #ccc;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}
